@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="bleakwind-menu">
    <div id="welcome">
        <h1>Welcome to Bleakwind Buffet</h1>
        <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!</p>
    </div>
    <div>
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search Menu" />
    </div>
    <div class="flex-columns">
        <div class="filter">
            <h4>Menu Item</h4>
            <label>
                <input type="checkbox" name="Entree" value="Entree" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="Side" value="Side" />
                Side
            </label>
            <label>
                <input type="checkbox" name="Drink" value="Drink" />
                Drink
            </label>
            <h4>Calories</h4>
            <div>
                <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" />
                to
                <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" />
            </div>
            <h4>Price</h4>
            <div>
                <input name="PriceMin" type="number" min="0" max="10" step=".01" placeholder="min" />
                to
                <input name="PriceMax" type="number" min="0" max="10" step=".01" placeholder="max" />
            </div>
        </div>

        <div class="items">
            <h2>Entrees</h2>
            <ul>
                @foreach (BleakwindBuffet.Data.IOrderItem entree in Model.Menu)
                {
                    <li>
                        <div class="menu-item">
                            <div>@entree.ToString() $@entree.Price</div>
                            <div>@entree.Calories calories</div>
                            <div>@entree.Description</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="items">
            <h2>Sides</h2>
            <ul>
                @foreach (BleakwindBuffet.Data.IOrderItem side in Model.Menu)
                {
                    <li>
                        <div class="menu-item">
                            <div>@side.ToString() $@side.Price</div>
                            <div>@side.Calories calories</div>
                            <div>@side.Description</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="items">
            <h2>Drinks</h2>
            <ul>
                @foreach (BleakwindBuffet.Data.IOrderItem drink in Model.Menu)
                {
                    <li>
                        <div class="menu-item">
                            <div>@drink.ToString() $@drink.Price</div>
                            <div>@drink.Calories calories</div>
                            <div>@drink.Description</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div>
    <h3>Any entree, side, and drink can be combined into a Combo for a $1 discount!</h3>
    <p>*Soda Flavors: Blackberry, Cherry, Lemon, Peach, Grapefruit, Watermelon</p>
        </div>
</form>